<section class="mt-section bg-tertiary text-white pt-7 pt-lg-8 pb-6">
  <div class="container gx-5 gx-lg-1">
    <div class="row align-items-center">
      <div class="col-12 col-lg">
        <h3 class="mb-3 mb-lg-0">Meest relevante ervaringen</h3>
      </div>
      <div class="col-12 col-lg-auto">
        <a routerLink="experiences" class="mt-link mt-link-lg text-white">Bekijk al mijn ervaringen</a>
      </div>
    </div>
    <div *ngIf="data" class="row row-cols-1 row-cols-lg-3 mt-3 mt-lg-5 gx-lg-6 gy-4 gy-lg-0">
      <div *ngFor="let experience of data.experiences | slice:0:3;"  class="mt-section__col col">
        <h5 class="mt-section__col-heading">{{ experience.name }}</h5>
        <p class="mt-section__col-content">{{ experience.excerpt }}</p>
        <span class="mt-section__col-date text-primary">{{ experience.start_date | date: 'MMMM yyyy' }}{{ experience.end_date != null ? ' - ' + [ experience.end_date | date: 'MMMM yyyy' ] : '' }}</span>
      </div>
    </div>
  </div>
</section>
