<section class="mt-section bg-tertiary text-white pt-7 pt-lg-8 pb-6">
  <div class="container gx-5 gx-lg-1">
    <div class="row align-items-center">
      <div class="col-12 col-lg">
        <h3 class="mb-3 mb-lg-0">Meest relevante ervaringen</h3>
      </div>
      <div class="col-12 col-lg-auto">
        <a href="#" class="mt-link mt-link-lg text-white">Bekijk al mijn ervaringen</a>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 mt-3 mt-lg-5 gx-lg-6 gy-4 gy-lg-0">
      <div class="mt-section__col col">
        <h5 class="mt-section__col-heading">Junior Front-end</h5>
        <p class="mt-section__col-content">Bij ShareValue werk ik in de detachering als front-end developer, daarnaast
          heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="mt-section__col-date text-primary">februari 2020 - heden</span>
      </div>
      <div class="mt-section__col col">
        <h5 class="mt-section__col-heading">Junior Front-end</h5>
        <p class="mt-section__col-content">Bij ShareValue werk ik in de detachering als front-end developer, daarnaast
          heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="mt-section__col-date text-primary">september 2019 - januari 2020</span>
      </div>
      <div class="mt-section__col col">
        <h5 class="mt-section__col-heading">Intern Front-end</h5>
        <p class="mt-section__col-content">Bij ShareValue werk ik in de detachering als front-end developer, daarnaast
          heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="mt-section__col-date text-primary">januari 2018 - februari 2019</span>
      </div>
    </div>
  </div>
</section>
