<section class="mt-section bg-tertiary text-white pt-7 pt-lg-8 pb-6">
  <div class="container gx-5 gx-lg-1">
    <div class="row align-items-center">
      <div class="col-12 col-lg">
        <h3 class="mb-3 mb-lg-0">Meest relevante ervaringen</h3>
      </div>
      <div class="col-12 col-lg-auto">
        <a routerLink="experiences" class="mt-link mt-link-lg text-white">Bekijk al mijn ervaringen</a>
      </div>
    </div>
    <div *ngIf="data" class="row row-cols-1 row-cols-lg-3 mt-3 mt-lg-5 gx-lg-6 gy-4 gy-lg-0">
      <mt-experience-card *ngFor="let experience of data.experiences | slice:0:3;" [experience]="experience"></mt-experience-card>
      <mt-experience-card-skeleton *ngIf="loading"></mt-experience-card-skeleton>
      <mt-experience-card-skeleton *ngIf="loading"></mt-experience-card-skeleton>
      <mt-experience-card-skeleton *ngIf="loading"></mt-experience-card-skeleton>
    </div>
  </div>
</section>
