<header class="mt-masthead mb-n5">
  <div class="container">
    <div class="row mt-masthead-row gx-0 gx-lg-3 mb-3">
      <div class="col-10">
        <h1 class="heading">
          Building the digital future of tomorrow
          <mt-brand-shape class="text-primary" fillColor="currentColor"></mt-brand-shape>
        </h1>
      </div>
      <div class="col-12">
        <p class="introduction">
          Als jonge front-end developer, streef ik naar zelf ontwikkeling. Om mijn werk altijd met uiterse perfectie en
          de laatste technieken kan volbrengen.
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <div class="card mt-card">
          <div class="card-body">
            <a href="#" class="mt-card--link bg-primary text-white">Lees meer</a>
            <div class="mt-card--content">
              <h5 class="mt-card--heading">Eenvoudige website <span
                class="font-weight-normal text-primary">op maat</span></h5>
              <p class="mt-card--body">Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb
                ik ook gewerk.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 d-none d-lg-flex">
        <div class="card mt-card">
          <div class="card-body">
            <a href="#" class="mt-card--link bg-secondary text-white">Lees meer</a>
            <div class="mt-card--content">
              <h5 class="mt-card--heading">Uitgebreide website <span
                class="font-weight-normal text-secondary">op maat</span></h5>
              <p class="mt-card--body">Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb
                ik ook gewerk.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
