<footer class="mt-footer">
  <div class="container gx-5 gx-lg-1">
    <div class="row gx-6 px-5 px-lg-1 pt-5 pb-3">
      <div class="col text-center text-lg-left mb-5 mb-lg-0">
        <h5>Duncan</h5>
      </div>
      <div class="col-auto">
        <ul class="mt-footer__nav">
          <li>Contactgegevens</li>
          <li><a href="mailto:hello@duncanheffron.com" title="Send me a mail!">hello@duncanheffron.com</a></li>
          <li><a href="https://api.whatsapp.com/send?phone=+310630406388" target="_blank" title="Whatsapp me!">06-30406388</a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <ul class="mt-footer__nav">
          <li>Links</li>
          <li><a href="https://github.com/duncanheffron/mountain" target="_blank" title="Checkout my GitHub repo's">GitHub</a>
          </li>
          <li><a href="https://dribbble.com/duncanheffron" target="_blank"
                 title="My Dribbble is full of amazing projects and inspiration">Dribbble</a></li>
          <li><a href="https://www.instagram.com/duncan.developer/" target="_blank" title="Follow me on instagram?">Instagram</a>
          </li>
          <li><a href="https://www.linkedin.com/in/duncanschriel/" target="_blank"
                 title="Linked In the place for the peeps who want to connect!">Linked In</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center justify-content-lg-start py-3">
      <div class="col-12 col-lg-auto text-center text-lg-left">
        <p class="small">Build with<span class="d-inline-flex mx-1" style="width: 1.2rem;">❤️</span>by Duncan</p>
      </div>
      <div class="col-auto">
        <a href="#" class="small">Privacy</a>
      </div>
      <div class="col-auto">
        <a href="#" class="small">Contact</a>
      </div>
    </div>
  </div>
</footer>
