<section class="mt-section bg-quaternary">
  <div class="container gx-5 gx-lg-1 py-6">
    <div class="row align-items-center">
      <div class="col-12 col-lg">
        <h3 class="mb-3 mb-lg-0">Reizen</h3>
      </div>
      <div class="col-12 col-lg-auto">
        <a routerLink="trip" class="mt-link mt-link-lg text-dark">Bekijk al mijn reizen</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <p class="mt-3 mt-lg-2 mb-4 text-quinary">Ooit wil ik de helewereld gezien hebben. Dus ik deel graag mijn reizen
          en de verhalen.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 gy-4 gy-lg-0">
      <div class="mt-section__col col">
        <div class="card">
          <div class="card-body">
            <span class="mt-section__col-tag">city-trip</span>
            <h5 class="mt-section__col-heading">London</h5>
            <p class="mt-section__col-content">April 2024</p>
            <mt-london class="text-secondary" fillColor="currentColor"></mt-london>
          </div>
        </div>
      </div>
      <div class="mt-section__col col">
        <div class="card">
          <div class="card-body">
            <span class="mt-section__col-tag">city-trip</span>
            <h5 class="mt-section__col-heading">London</h5>
            <p class="mt-section__col-content">April 2024</p>
            <mt-london class="text-tertiary" fillColor="currentColor"></mt-london>
          </div>
        </div>
      </div>
      <div class="mt-section__col col">
        <div class="card">
          <div class="card-body">
            <span class="mt-section__col-tag">city-trip</span>
            <h5 class="mt-section__col-heading">London</h5>
            <p class="mt-section__col-content">April 2024</p>
            <mt-london class="text-secondary" fillColor="currentColor"></mt-london>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
