<mt-hero title="Portfolio"></mt-hero>
<section class="mt-section">
  <div class="container gx-5 gx-lg-1 pt-3 pb-6">
    <div *ngIf="data" class="row row-cols-1 row-cols-lg-3 gy-4">
      <mt-case-card *ngFor="let projectData of data.projects" [project]="projectData"></mt-case-card>
    </div>
    <div *ngIf="loading" class="row row-cols-1 row-cols-lg-3 gy-4">
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
    </div>
  </div>
</section>

