<mt-hero title="Portfolio" image="../assets/images/hero/christmas-hero.jpg"></mt-hero>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-last">
        <img class="img-fluid" src="../assets/images/projects/burger-webdesign.png" alt="random" style="max-height: 450px;width: 100%;object-fit: contain">
      </div>
      <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center">
        <span>Front-end</span>
        <h2>ShareValue</h2>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne</p>
        <a href="#" class="btn btn-tertiary rounded-pill mt-button--arrow align-self-start">Bekijk de case</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img class="img-fluid" src="../assets/images/projects/burger-webdesign.png" alt="random" style="max-height: 450px;width: 100%;object-fit: contain">
      </div>
      <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center">
        <span>Web design</span>
        <h2>BURGR.</h2>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne</p>
        <a href="#" class="btn btn-tertiary rounded-pill mt-button--arrow align-self-start">Bekijk de case</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-last">
        <img class="img-fluid" src="../assets/images/projects/chaty-webdesign.png" alt="random" style="max-height: 450px;width: 100%;object-fit: contain">
      </div>
      <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center">
        <span>Web design</span>
        <h2>Chaty</h2>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne</p>
        <a href="#" class="btn btn-tertiary rounded-pill mt-button--arrow align-self-start">Bekijk de case</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img class="img-fluid" src="../assets/images/projects/chipcard-appdesign.png" alt="random" style="max-height: 450px;width: 100%;object-fit: contain">
      </div>
      <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center">
        <span>App design</span>
        <h2>PostNL training app</h2>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne</p>
        <a href="#" class="btn btn-tertiary rounded-pill mt-button--arrow align-self-start">Bekijk de case</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-last">
        <img class="img-fluid" src="../assets/images/projects/chipcard-appdesign.png" alt="random" style="max-height: 450px;width: 100%;object-fit: contain">
      </div>
      <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center">
        <span>App design</span>
        <h2>OV-Chipkaart App</h2>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne</p>
        <a href="#" class="btn btn-tertiary rounded-pill mt-button--arrow align-self-start">Bekijk de case</a>
      </div>
    </div>
  </div>
</section>

