.fr-carousel {
  $self: &;

  &-container {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 0;

    @include media-breakpoint-up(xl) {
      padding: 2rem 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    #{$self}-row {
      flex-wrap: nowrap;
    }
  }

  &-next, &-previous {
    position: absolute;
    z-index: 2;
    display: none;
    height: 10rem;
    opacity: 0;
    transition: opacity .3s ease;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &-next {
    right: 0;
    padding: 4rem 1.5rem 4rem 6.5rem;
    content: url('~src/assets/icons/angle-right.svg');
    background: radial-gradient(circle at 100%, rgba($tertiary, .9), rgba($tertiary, 0) 70%);
  }

  &-previous {
    left: 0;
    padding: 4rem 6.5rem 4rem 1.5rem;
    content: url('~src/assets/icons/angle-left.svg');
    background: radial-gradient(circle at 0%, rgba($tertiary, .9), rgba($tertiary, 0) 70%);
  }
}

