.footer {
  .copyright {
    font-size: 12px;
    display: inline-block;
    color: $septenary;
    margin-bottom: 0;
  }

  .socialmedia {
    a {
      --fancy-link-color: var(--bs-septenary);
      font-size: 12px;
      display: inline-block;

      &:hover, &:focus {
        --fancy-link-color: var(--bs-quaternary);
      }
    }
  }
}
