.masthead {
  $self: &;
  height: 550px;
  max-height: 550px;
  background-image: url("~src/assets/images/hero/mountain-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
