.bg-pattern {
  position: relative;

  &-left {
    &::before {
      content: url("~src/assets/shape-pattern-flipped.svg");
      position: absolute;
      top: -1.5rem;
      left: -5.25em;
      transform: scale(.9);
    }
  }

  &-right {
    &::before {
      content: url("~src/assets/shape-pattern.svg");
      position: absolute;
      top: -2.5rem;
      right: -5.25rem;
      transform: scale(.9);
    }
  }
}
