.mt-section {
  $self: &;

  #{$self}--link {
    @extend .mt-link;
  }

  #{$self}__col {
    & > .card {
      @extend .mt-card;

      .card-body {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    &-brand {
      svg {
        max-width: 100%;
        max-height: 6.75rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
      }
    }

    &-heading {
      margin-bottom: .625rem;
    }

    &-content {
      opacity: .75;
      font-size: .875rem;
      margin-bottom: 0;
    }

    &-date {
      font-weight: $font-weight-semibold;
      display: block;
      font-size: .75rem;
      margin-top: 1.25rem;
    }

    &-link {
      @extend .mt-link;
      font-size: .75rem;
      padding-right: 1.75rem;
      margin-top: 1.25rem;
      align-self: flex-start;

      &::before {
        background-color: $tertiary;
      }

      &::after {
        content: url("~src/assets/images/arrow-right-tertiary-sm.svg");
        height: 1.1rem;
      }
    }
  }
}
