<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Duncan</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">my work</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">about</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead mb-n5">
  <div class="container">
    <div class="row flex-column mb-5">
      <div class="col-8">
        <h1 class="heading display-1">
          I build the digital future of tomorrow
        </h1>
      </div>
      <div class="col-4">
        <p class="introduction">
          Als jonge front-end developer, streef ik naar zelf ontwikkeling. Om mijn werk altijd met uiterse perfectie en
          de laatste technieken kan volbrengen.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <h4>Eenvoudige website <span class="font-weight-normal text-primary">op maat</span></h4>
            <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerk.</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <h4>Uitgebreide website <span class="font-weight-normal text-secondary">op maat</span></h4>
            <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="bg-tertiary text-white pt-8 pb-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h3>Meest relevante ervaringen</h3>
      </div>
      <div class="col-auto">
        <a href="#">Bekijk al mijn ervaringen</a>
      </div>
    </div>
    <div class="row row-cols-3 mt-5">
      <div class="col">
        <h4>Junior Front-end</h4>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="font-weight-bold text-primary">februari 2020 - heden</span>
      </div>
      <div class="col">
        <h4>Junior Front-end</h4>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="font-weight-bold text-primary">september 2019 - januari 2020</span>
      </div>
      <div class="col">
        <h4>Intern Front-end</h4>
        <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het interne
          webteam om de site naar de nieuwe standaart te brengen.</p>
        <span class="font-weight-bold text-primary">januari 2018 - februari 2019</span>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-6">
    <div class="row align-items-center">
      <div class="col">
        <h3>Cases</h3>
      </div>
      <div class="col-auto">
        <a href="#">Bekijk al mijn cases</a>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>Projecten waar ik trots op ben. Gemaakt met passie en op basis van de wensen en laatste trends.</p>
      </div>
    </div>
    <div class="row row-cols-3 mt-5">
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4>ShareValue</h4>
            <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het
              interne</p>
            <a class="font-weight-bold text-tertiary" href="#">Bekijk meer van de case</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4>PostPoint Training</h4>
            <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het
              interne</p>
            <a class="font-weight-bold text-tertiary" href="#">Bekijk meer van de case</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4>BURGR.</h4>
            <p>Bij ShareValue werk ik in de detachering als front-end developer, daarnaast heb ik ook gewerkt in het
              interne</p>
            <a class="font-weight-bold text-tertiary" href="#">Bekijk meer van de case</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-quaternary">
  <div class="container py-6">
    <div class="row align-items-center">
      <div class="col">
        <h3>Travels</h3>
      </div>
      <div class="col-auto">
        <a href="#">Bekijk al mijn travels</a>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>Graag heb ik ooit de helewereld gezien. Dus ik deel graag mijn reizen en de verhalen.</p>
      </div>
    </div>
    <div class="row row-cols-3 mt-5">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <span>city-trip</span>
            <h4>London</h4>
            <p>April 2024</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <span>city-trip</span>
            <h4>London</h4>
            <p>April 2024</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <span>city-trip</span>
            <h4>London</h4>
            <p>April 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-6">
    <div class="row flex-column">
      <div class="col-8">
        <h2 class="display-5 mb-5">Duncan, de gedreven front-end developer uit Utrecht</h2>
      </div>
      <div class="col-8">
        <p>Naast het ontwikkelen van websites in diverse mogelijkheden, ben ik ook een webdesigner in hart en nieren.
          Bij elk project waar ik aan werk bemoei ik me graag met bijde onderdelen, van het ontwerp van de website tot
          het bouwen in de front-end. Mijn code schrijf ik altijd op onderdeel gebaseert ook wel component based
          genoemt, dit om code in meerdere locaties of projecten te gebruiken.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary text-white">
  <div class="container py-6">
    <div class="row flex-column">
      <div class="col-6">
        <h2 class="display-5 mb-5">Klaar voor jouw eigen unieke website?</h2>
      </div>
      <div class="col-8">
        <p class="mb-4">Naast het ontwikkelen van websites in diverse mogelijkheden, ben ik ook een webdesigner in hart en nieren.
          Bij elk project waar ik aan werk bemoei ik me graag met bijde onderdelen, van het ontwerp van de website tot
          het bouwen in de front-end. Mijn code schrijf ik altijd op onderdeel gebaseert ook wel component based
          genoemt, dit om code in meerdere locaties of projecten te gebruiken.</p>
      </div>
      <div class="col-auto">
        <button class="btn btn-tertiary rounded-pill">
          Kom in contact
        </button>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row py-6">
      <div class="col">
        <h5>Duncan</h5>
      </div>
      <div class="col-3">
        <ul>
          <li class="font-weight-bold">Contactgegevens</li>
          <li>hello@duncanheffron.com</li>
          <li>06-30406388</li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li class="font-weight-bold">Links</li>
          <li>Dribbble</li>
          <li>Instagram</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-auto">
        <span class="small">Build with ❤️ by Duncan</span>
      </div>
      <div class="col-auto">
        <a href="#" class="small">Privacy</a>
      </div>
      <div class="col-auto">
        <a href="#" class="small">Contact</a>
      </div>
    </div>
  </div>
</footer>
