.project-content {
  position: relative;

  * {
    position: relative;
    z-index: 1;
  }

  .floating-project-title {
    font-size: 220px;
    line-height: 218px;
    font-weight: $font-weight-bold;
    color: $tertiary;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
    max-width: 129%;
    opacity: .5;
    z-index: 0;
    position: absolute;
    bottom: -50px;
    left: -150px;
  }
}

.features-list {
  counter-reset: my-features-counter;
  list-style: none;
  padding-left: $spacer * 2.5;

  &--item {
    margin-bottom: $spacer * 2;
    counter-increment: my-features-counter;
    position: relative;

    &:before {
      content: counter(my-features-counter);
      color: $quaternary;
      font-size: 1.2rem;
      font-weight: bold;
      position: absolute;
      left: -$spacer * 3.5;
      line-height: $spacer * 2.5;
      width: $spacer * 2.5;
      height: $spacer * 2.5;
      top: 0;
      background: $quaternary-light;
      border-radius: 50%;
      text-align: center;
    }

    h2 {
      font-size: $h5-font-size;
      font-weight: $font-weight-bold;
      padding-top: .4rem;
      margin-bottom: .5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comment {
  position: relative;
  padding-left: 4.5rem;
  padding-right: 2.5rem;

  &:before {
    content: url("~src/assets/comment-lines.svg");
    position: absolute;
    display: block;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.05rem;
    background-color: $secondary-light;
    border-radius: 100%;
  }

  &-header {
    h3 {
      font-size: $h5-font-size;
      font-weight: $font-weight-bold;
      padding-top: 1rem;
      margin-bottom: .5rem;
    }
  }
}
