<div class="mt-section__col skeleton col">
  <div class="card">
    <img class="mt-section__col-brand img-fluid" src="../../../../assets/images/placeholder.svg" alt="placeholder" style="background-color: #f8f9fa">
    <div class="card-body">
      <div class="mt-section__col-copy">
        <h5 class="mt-section__col-heading"></h5>
        <p class="mt-section__col-content">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </p>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink="#" class="mt-link text-tertiary mt-section__col-link disabled" title="Bekijk de case van placeholder">Bekijk meer van de case</a>
    </div>
  </div>
</div>
