<section class="mt-section mt-section__cta">
  <div class="container gx-5 gx-lg-1 py-6">
    <div class="row flex-column">
      <div class="col-12 col-lg-7">
        <h2 class="mt-section__cta-heading mb-3 text-center text-lg-left">Klaar voor jouw eigen unieke
          website?
          <mt-brand-shape class="text-primary" fillColor="currentColor"></mt-brand-shape>
        </h2>
      </div>
      <div class="col-12 col-lg-8">
        <p class="mt-section__cta-content mb-5 text-center text-lg-left">Een sterke website begint met een goed gesprek.
          Hoor graag wat jouw wensen zijn, om samen te kijken naar de mogelijkheden.</p>
      </div>
      <div class="col-auto text-center text-lg-left">
        <a routerLink="contact" class="btn btn-tertiary rounded-pill mt-button--arrow mb-6 mb-lg-0">
          Kom in contact
        </a>
      </div>
      <img class="mt-section__cta-image" src="../assets/images/cta-shape.png" alt="cta-sphere">
    </div>
  </div>
</section>

