<section class="mt-section mt-section__about">
  <div class="container gx-5 gx-lg-1 py-6">
    <div class="row flex-column">
      <div class="col-12 col-lg-9">
        <h2 class="mt-section__about-heading mb-4">Duncan, de gedreven front-end developer uit Utrecht
          <mt-brand-shape class="text-primary" fillColor="currentColor"></mt-brand-shape>
        </h2>
      </div>
      <div class="col-12 col-lg-9">
        <p class="text-quinary mb-10 mb-lg-0">Naast het ontwikkelen van websites in diverse mogelijkheden, ben ik ook
          een webdesigner in hart en nieren. Bij elk project waar ik aan werk bemoei ik me graag met bijde onderdelen,
          van het ontwerp van de website tot het bouwen in de front-end. Mijn code schrijf ik altijd op onderdeel
          gebaseert ook wel component based genoemt, dit om code in meerdere locaties of projecten te gebruiken.</p>
      </div>
      <img class="mt-section__about-image" src="../assets/images/aboutme-cartoon.png" alt="aboutme-cartoon">
    </div>
  </div>
</section>
