<section class="mt-section">
  <div class="container gx-5 gx-lg-1 py-6">
    <div class="row align-items-center">
      <div class="col-12 col-lg">
        <h3 class="mb-3 mb-lg-0">Portfolio</h3>
      </div>
      <div class="col-12 col-lg-auto">
        <a routerLink="/projects" class="mt-link mt-link-lg text-dark">Bekijk al mijn cases</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <p class="mt-3 mt-lg-3 mb-4 text-quinary">Projecten waar ik trots op ben. Gemaakt met passie en op basis van de
          wensen en laatste trends.</p>
      </div>
    </div>
    <div *ngIf="data" class="row row-cols-1 row-cols-lg-3 gy-4 gy-lg-0">
      <mt-case-card *ngFor="let projectData of data.projects | slice:0:3;" [project]="projectData"></mt-case-card>
    </div>
    <div *ngIf="loading" class="row row-cols-1 row-cols-lg-3 gy-4 gy-lg-0">
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
      <mt-case-card-skeleton></mt-case-card-skeleton>
    </div>
  </div>
</section>
